<div class="page-main-header">
	<div class="main-header-right">
		<div class="main-header-left text-center">
			<div class="logo-wrapper">
				<a href="index.html"><img src="{{asset('/build/images/admin/logo_mini.png')}}" class="header-logo" alt=""></a>
			</div>
		</div>
		<div class="mobile-sidebar">
			<div class="media-body text-right switch-sm">
				<label class="switch ml-3">
					<i class="font-primary" id="sidebar-toggle" data-feather="align-center"></i>
				</label>
			</div>
		</div>
		<div class="vertical-mobile-sidebar">
			<i class="fa fa-bars sidebar-bar"></i>
		</div>
		<div class="nav-right col pull-right right-menu">
			<ul class="nav-menus">
				<li>
					<form class="form-inline search-form" action="#" method="get">
						<div class="form-group">
							<div class="Typeahead Typeahead--twitterUsers">
								<div class="u-posRelative">
									<input class="Typeahead-input form-control-plaintext" id="demo-input" type="text" name="q" placeholder="Search...">
									<div class="spinner-border Typeahead-spinner" role="status">
										<span class="sr-only">Loading...</span>
									</div>
									<span class="d-sm-none mobile-search">
										<i data-feather="search"></i>
									</span>
								</div>
								<div class="Typeahead-menu"></div>
							</div>
						</div>
					</form>
				</li>
			
				
				<li class="onhover-dropdown">
					<span class="media user-header"><img class="img-fluid" src="{{asset('/build/images/admin/avatar1.jpg')}}" alt=""></span>
					<ul class="onhover-show-div profile-dropdown">
						<li class="gradient-primary">
							<h5 class="f-w-600 mb-0">Your name</h5>
							<span>Web Designer</span>
						</li>
						<li>
							<i class="fa fa-user mr-2"></i>Profile</li>
						<li>
							<i class="fa fa-envelope mr-2"></i>Inbox</li>
						<li>
							<i class="fa fa-sign-out mr-2"></i>Log Out</li>
					</ul>
				</li>
			</ul>
			<div class="d-lg-none mobile-toggle pull-right">
				<i data-feather="more-horizontal"></i>
			</div>
		</div>
	</div>
</div>
